@import "../../../../assets/scss/util/color-palette.scss";

.container {
  &__header {
    text-align: center;
  }
  &__list-todo {
    display: grid;
    grid-template-columns: 8% auto 30% 8% 8%;
    grid-gap: 8px;
    padding: 14px 12px;
    color: #1e6395;
  }
  &__list-todo:nth-child(even) {
    background: #edf8fe;
  }
  &__list-todo:nth-child(odd) {
    background: #f5f9f9;
  }
  &__search {
    display: grid;
    grid-template-columns: 89% 11%;
    grid-gap: 8px;
    padding: 8px 0 16px;
  }
}

.todo-finished {
  text-decoration: line-through;
}

.txt-date {
  color: $textColor2;
}
