$black: #070707;
$white: #ffffff;
$textColor: #1e6395;
$textColor1: #85a2c2;
$textColor2: #4dbdf0;
$primaryColor: #4dbdf0;
$secondaryColor: #4c9cc3;
$evenColor: #edf8fe;
$oddColor: #f5f9f9;
$progress: #f7e257;
