@import "../../../../../assets/scss/util/color-palette.scss";

button {
  padding: 14px;
  border-radius: 4px;
  border-style: solid;
  cursor: pointer;
}

button[disabled] {
  opacity: 0.7;
}

.button {
  &--primary {
    background-color: $secondaryColor;
    border-color: $secondaryColor;
    color: $oddColor;
  }
  &--secundary {
    color: $black;
    font-weight: bold;
    background: $oddColor;
    border-color: $oddColor;
  }
  &:hover {
    opacity: 0.9;
  }
}
